@layout('layouts.app')

@set('homepage', true)

@section('title')
    <div>
        <span>T</span>
        <span>R</span>
        <span>A</span>
        <span>V</span>
        <span>E</span>
        <span>L</span>
        <span>S</span>
    </div>
@endsection

@section('content')
    <main>
        <div class="country"></div>
        <div class="country"></div>
        <div class="country"></div>
    </main>
@endsection
