<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HENRY Alexis - Travel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    @entryPointStyles('app')
    @entryPointScripts('app')
</head>

<body {{ homepage ? 'class=homepage' : ''}}>
    <nav>
        <div class="icons">
            <a class="link" href="{{ route('index') }}">
                <i class="fa fa-home"></i>
            </a>
            <a class="link" href="{{ route('travels') }}">
                <i class="fas fa-plane"></i>
            </a>
        </div>
    </nav>
    <header>
        <div>
            @!section('title')
        </div>
    </header>

    @!section('content')

    <footer>
        <div>
            <p>© 2023 Alexis Henry</p>
        </div>
    </footer>

</body>
</html>
